{% extends "base.html" %}

{% block title %}

<title>Medicines Page</title>

{% endblock %}

{% block content %}


<ul> 

<form action="{{ request.get_full_path }}" method="get">
   <button type="submit" name="sort_price" value="ascending">Sort up by price</button>
   <button type="submit" name="sort_price" value="descending">Sort down by price</button>
</form>

<div id="sidebar">
   <h3>Medicines</h3>
   <ul>
       
       {% for c in medicines_types %}
           <li {% if medicines_type.designation == c.designation %}class="selected" {% endif %}>
               <a href="{{ c.get_absolute_url }}">{{ c.designation }}</a>
           </li>
       {% endfor %}
   </ul>
</div>

{% for medicine in medicines%}
<li>    
   <img src="{{medicine.photo.url}}">

   <a href="{% url 'pharmacy_app:medicines_details' medicine.id %}">{{medicine.code}}, {{medicine.name}}</a>
</li>

{% endfor %}

</ul>
{% endblock %}
